* {
    box-sizing: border-box
}

body {
    background-position: center;
    background-size: cover;
    position: relative;
}

html, body {
    margin: 0;
    overflow: scroll;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 0 1rem;
    z-index: 2;
    width: 100%;
    font-size: .9em;
    background: white;
    height: 90px;
}

a {
    text-decoration: none;
    color: black;
    padding: 1em;
    display: inline-block;
    font-family: "Josefin Sans";
}

ul {
    list-style-type: none;
    margin: 7px;
    padding: 0;
}

li {
    margin: 1em;
}

h1 {
    font-family: "Josefin Sans";
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
}

h3 {
    font-family: "Josefin Sans";
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
}

p {
    font-family: "Josefin Sans";
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

blockquote {
    font-family: "Josefin Sans";
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}

pre {
    font-family: "Josefin Sans";
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
}

.logo {
    left: 3rem;
}

.hero-our-story {
    position: relative;
    background-image: url("assets/images/our-team-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 90px);
}

.hero-our-story-text {
    display: flex;
    margin: auto;
    position: absolute;
    padding: 40vh 55vh;
    color: white;
    font-size: 4vh;
   text-align: center;
    line-height: 35px;


}

.our-team-heading-text {
    top: calc(10vh - min(2.25vw, 4.2vh));
    font-size: min(2.25vw, 4.2vh);
    line-height: 1;
    display: flex;
    justify-content: center;
    top: 10em;
}

.team-member-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.team-member-1 {
    text-align: center;
    padding: 2em 5em;

}

.team-members {
    display: flex;
    justify-content: center;
}
